.token-swapper {
    position: relative;
    padding: 0 1px;

    &__confirm {
        height: 3.75rem;
        width: 100%;
        font-size: 1.25rem;
        font-weight: bold;
        background-color: var(--c-confirm-button);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    }

    &__switch-tokens {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.tokenHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    font-size: 0.75rem;
    padding: 0 0.625rem;
    align-items: center;
}

.balanceButton {
    border: none;
    background: none;
    color: var(--c-text);
    cursor: pointer;
    margin-right: -8px;
    font-size: 0.75rem;
}

.noMargin {
    margin-bottom: 0;
}

.receiveInputs {
    margin-top: -1.5rem;
}

.newEstimateWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.newEstimateText {
    margin-bottom: 0.5rem;
}
